button.show-more {
  background: none;
  color: white;
  width: 100%;
  font-size: 1.25em;
}

.outer-border-table {
  margin: 50px 0 50px 10px;
}

.outer-border-table td, .outer-border-table th {
  border: none !important;
}

.outer-border-table {
  border: 1px solid var(--gray) !important;
}

#more-info-tab {
  margin: 20px 10px 0 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#more-info-tab>.title-bar {
  width: 100%;
  height: 40px;
  display: flex;
  gap: 25px;
  flex-direction: row;
}

#more-info-tab>.title-bar>h2 {
  margin: 0;
  white-space: nowrap;
}

#more-info-tab>.title-bar>button.show-more {
  width: fit-content;
  border: none;
  padding: 5px;
}

.bet-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  padding-bottom: 50px;
}

.bet-info-table {
  text-align: left;
  table-layout: fixed;
  border: none;
}

.bet-info-table td {
  padding: 10px;
  height: 40px;
  min-width: fit-content;
  width: 150px;
}

@media screen and (max-width: 1024px) {
  #more-info-tab {
    width: 95%;
  }

  #more-info-tab>.title-bar {
    width: 100%;
  }

  .bet-info {
    flex-direction: column;
  }
}

.bet-info-table th {
  padding: 10px !important;
}

.bet-info-table tr>td, .bet-info-table tr>th {
  max-width: 150px;
  min-width: fit-content;
  width: 100px;
  white-space: nowrap;
  height: 30px;
  padding: 10px;
}

.bet-info-table>tfoot>tr>td,
.bet-info-table>tfoot>tr>th {
  border: 1px solid var(--gray);
  border-right: none;
}

.bet-info-table>tfoot>tr>td:last-child {
  border-right: 1px solid var(--gray);
}

.roulette-number-circle {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  border: 1px solid white;
  font-size: 1.25em;
}