#contact-message {
  margin-top: 30px;
  height: 200px;
  width: calc(80% - 40px);
  outline: none;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid var(--theme-color);
  background-color: var(--gray);
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  resize: none;
}

#contact-message:invalid {
  border-color: red;
}